<li>
  <article class="project">
    <a href="{% url "project-detail-page" project.slug %}">
      <div class="column is-5 card-frame">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
                <img src="{{ project.image.url }}" alt="{{ project.image.title }}" class="modal-button" data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
                <h4>{{ project.title }}</h4>
                <div class="tag-container">
                  {% for tag in project.tags.all %}
                    <span class="tag">{{ tag.caption }}</span>
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </article>
</li>
