# Python
__pycache__/
*.pyc

# Virtual env
.venv/
django_my_site/

# Database
db.sqlite3

# Secrets
secrets.json
.env

# Node
node_modules/

# Django static build
staticfiles/

# Misc
*.zip

# Mac / Windows dump files
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd

# VSCode
.vscode/