.card-frame {
  transition: all 0.2s ease;
  width: 300px;
  margin: 0 10px 0 10px;
}

.card-frame:hover,
.card-frame:active {
  transform: scale(1.1) !important;
  color: white !important;
}

.tag {
  margin: 2px;
  margin-left: 0px;
}

.card-content h4 {
  min-height: 60px;
  margin: 5px 0 0 0;
}

.card-image {
  height: 150px;
}

.image img {
  height: 170px;
}
