{% extends "base.html" %} 
{% load static %}

{% block title %}
  Shinjo Kang - Passionate Programmer
{% endblock%} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/project.css" %}">
  <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <!-- HERO SECTION -->
      <div class="hero-container">
        <img class="hero-image adjust-image" src="{% static "blog/images/main-image-v4.png" %}" alt="Main image - developer" />  
      </div>

      <!-- Introduce myself -->
      <div class="introduce-container">
      <!-- Recent Projects -->
            <h2 class="recent-projects-title">My Recent Projects</h2>
            <ul class="card-container">
              {% for project in projects %}
                <div class="cell">
                  {% include "blog/includes/project.html" %}
                </div>
              {% endfor %}
            </ul>

            <a class="button is-light mt-6" href="{% url 'all_projects' %}">
              View All Projects
            </a>

        <p class="dot-line">. . . . .</p>
    <!-- My Skills -->
        <h2 class="skill-title">My Skills</h2>
        <div class="columns is-multiline skill-container">
            <div class="column is-6">
              <div class="category">
                <h3 class="title is-5 skill-sub-title">
                  Front-End
                </h3>
                <hr>
                <ul class="skill-content">
                  <li>
                    HTML
                  </li>
                  <li>
                    CSS
                  </li>
                  <li>
                    React
                  </li>
                  <li>
                    Next.js
                  </li>
                </ul>
              </div>
            </div>
            <div class="column is-6">
              <div class="category">
                <h3 class="title is-5 skill-sub-title">
                  Back-End
                </h3>
                <hr>
                <ul class="skill-content">
                  <li>
                    .NET
                  </li>
                  <li>
                    DNN (DotNetNuke)
                  </li>
                  <li>
                    Django
                  </li>
                  <li>
                    Node.js / Express.js
                  </li>
                </ul>
              </div>
            </div>
            <div class="column is-6">
              <div class="category">
                <h3 class="title is-5 skill-sub-title">
                  Programming Languages
                </h3>
                <hr>
                <ul class="skill-content">
                  <li>
                    JavaScript
                  </li>
                  <li>
                    TypeScript
                  </li>
                  <li>
                    Python
                  </li>
                  <li>
                    Java
                  </li>
                  <li>
                    C/C++
                  </li>
                  <li>
                    C#
                  </li>
                </ul>
              </div>
            </div>
            <div class="column is-6">
              <div class="category">
                <h3 class="title is-5 skill-sub-title">
                  Tools & Platforms
                </h3>
                <hr>
                <ul class="skill-content">
                  <li>
                    Azure
                  </li>
                  <li>
                    PostgreSQL
                  </li>
                  <li>
                    MongoDB
                  </li>
                  <li>
                    SQL Server
                  </li>
                  <li>
                    Git / GitHub
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
    </header>
  </section>
{% endblock %}
