{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ project.title }}
{% endblock%} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/project-detail.css" %}">
{% endblock %}

{% block content %}

  <section id="project-detail">
    <div id="project-detail-container">
      <div id="project-detail-title">

        <h2>{{ project.title }}</h2>
        <div class="tag-container">
          {% for tag in project_tags %}
            <span class="tag">{{ tag.caption }}</span>
          {% endfor %}
        </div>
      </div>

      <article class="project-detail-image">
        {% if project.image %}
          <img src="{{ project.image.url }}" alt="{{ project.title }}">
        {% endif %}
        <div class="project-detail-info">
          <div><a class="github" href="{{ project.github }}">{{ project.github }}</a></div>
          <div class="upload-info">Last updated on <time>{{ project.date|date:"d M Y" }}</time></div>
        </div>
      </article>

      <div class="column is-8 is-offset-2 content">
        <!-- START ARTICLE -->
        <div class="card article content-container">
            <div class="card-content">
              {{ project.content|linebreaks }}
            </div>
        </div>
        <!-- END ARTICLE -->
      </div>
      <div class="github-button-container">
        <a class="button is-primary custom-button" href="{{ project.github }}">Project Link</a>
      </div>
    </div>

  </section>

{% endblock %}