.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.custom-button {
  background-color: #5AB2FF !important;
  color: #ffffff !important;
}

.custom-button:hover {
  background-color: #ffffff !important;
  color: #5AB2FF !important;
  padding: 7.5px 15.5px !important;
  border: 0.5px solid #5AB2FF !important;
}

.custom-website-name{
  font-size: 24px;
  font-weight: 900;
}

.first-letter{
  color: #5AB2FF;
}

.custom-website-name:hover{
  color:#5AB2FF;
}

.custom-website-name:hover .first-letter{
  color:#404654;
}

.custom-website-name, .custom-website-name .first-letter {
  transition: color 0.3s ease;
}

.all-projects-button{
  font-weight: 900 !important;
  color:#5AB2FF !important;
}

.navbar-start{
  margin: 25px 0;
}

.footer{
  background-color: #5ab2ff27 !important;
  padding: 0 !important;
  height: 100px;
}

.footer-content-box{
  height: 100px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-p{
  margin: 0 !important;
  color: rgba(0, 0, 0, 0.313);
}

.quote{
  font-style: italic;
}