.navbar {
  display: flex;
  justify-content: center;
}

.navbar-menu {
  max-width: 2000px;
}

.github-link i,
.linkedin-link i {
  margin-right: 6px;
}

.github-link:hover i,
.linkedin-link:hover i {
  transform: scale(1.1);
  transition: 0.2s;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-start,
  .navbar-end {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .navbar-menu {
    display: flex !important;
    align-items: center;
    position: relative;
  }

  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-start a:nth-child(1),
  .navbar-start a:nth-child(2) {
    display: none;
  }

  .navbar-start {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  .navbar-start a:nth-child(4) {
    margin-left: auto;
  }

  .navbar-end {
    display: none;
  }

  .github-link .text,
  .linkedin-link .text {
    display: none;
  }

  .github-link i,
  .linkedin-link i {
    margin-right: 0;
    font-size: 1.4rem;
  }
}

.custom-button {
  background-color: #5ab2ff !important;
  color: #ffffff !important;
}

.custom-button:hover {
  background-color: #ffffff !important;
  color: #5ab2ff !important;
  padding: 7.5px 15.5px !important;
  border: 0.5px solid #5ab2ff !important;
}

.custom-website-name {
  font-size: 24px;
  font-weight: 900;
}

.first-letter {
  color: #5ab2ff;
}

.custom-website-name:hover {
  color: #5ab2ff;
}

.custom-website-name:hover .first-letter {
  color: #404654;
}

.custom-website-name,
.custom-website-name .first-letter {
  transition: color 0.3s ease;
}

.all-projects-button {
  font-weight: 900 !important;
  color: #5ab2ff !important;
}

.navbar-start {
  margin: 25px 0;
}

.footer {
  background-color: #5ab2ff27 !important;
  padding: 0 !important;
  height: 100px;
}

.footer-content-box {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-p {
  margin: 0 !important;
  color: rgba(0, 0, 0, 0.313);
}

.quote {
  font-style: italic;
}
